.title {
    font-style : italic;
    font-family : segoe ui;
    text-align : center;
}

.body {
    background-color : white;
}

.wrapper {
    display : grid;
    grid-template-columns: 10% 90%;
}

.overlay {
    float : left;
    margin-right : 30px;
}

.content {
    float : left;
}

.sidebar-menu-items{
    list-style-type : none;
}

.sidebar-menu-items li {
    padding: 8px 12px;
    padding-left: 20px;
    border-bottom : 1px solid #eee;
    float : left;
}

.sidebar-menu-items li a{
    text-decoration : none;
    color : #555;
    font-size : 18px;
    font-weight : 400;
    font-family : segoe ui;
}
.sidebar-menu-items li a:hover{
    color : lightblue
}