

.content {
  width : 50%;
  float : left;
  margin-left: 12%;
}

.sidebar-menu{
  position: relative;
  left: 0px;
  display: block;
  list-style-type : none;
  padding-top: 20px;
  padding-left: 2%;
}

.sidebar-menu-item{
    width : 100%;
    border-radius: 4%;
    border-bottom : 1px solid #eee;
    transition : background-color .75s;
    padding: 4px;
}

.sidebar-menu-item:hover {
  width : 100%;
  background-color : lightgrey;
}

.sidebar-menu-item{
    text-align: center;
    text-decoration : none;
    color : #555;

    font-size : 17px;
    font-weight : 400;
    font-family : segoe ui;
}