.body {
    background-color : white;
}

.overlay {
    float : left;
}

.sidebar-menu-items{
    list-style-type : none;
}

.sidebar-menu-items li {
    padding: 8px 12px;
    width : 20%;
    height : 100%;
    border-bottom : 1px solid #eee;
    float : left;
}

.sidebar-menu-items li a{
    text-decoration : none;
    color : #555;
    font-size : 18px;
    font-weight : 400;
    font-family : segoe ui;
}
.sidebar-menu-items li a:hover{
    color : lightblue
}